---
- hosts: all
  sudo: yes

  tasks:
    - apt: update_cache=true cache_valid_time=604800
      tags: apt-cache

    - include: tasks/mongo.yml
      tags: mongo
    - include: tasks/vim.yml
      tags: vim
    - include: tasks/postgresql.yml
      tags: pgconf
      vars:
        type: web
        total_memory: 395264000
        max_connections: 20
    - include: tasks/redis.yml

  handlers:
    - include: handlers/postgresql.yml
    - include: handlers/redis.yml
    - include: handlers/mongo.yml
